<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Post Service" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- Bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= posts_path %>">Post Service</a>

    <!-- Check if user is signed in -->
    <% if user_signed_in? %>
      <div class="d-flex">
        <span class="navbar-text me-2">Hello, <%= current_user.full_name %></span>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    <% else %>
      <div class="d-flex">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary me-2" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</nav>

<!-- Flash messages -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Main content -->
<%= yield %>

</body>
</html>
